.food-img {
    transition: 0.3s;
    cursor: pointer;
    flex-shrink: 0;
}

.food-img.active {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.food-name {
    font-size: 20px;
    margin-top: 5px;
}

#foodSubtitle {
    font-size: 72px;
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ED7D31;
}

#foodTitle {
    font-size: 48px;
    color: #3F3F41;
    text-transform: capitalize;
}

#foodDescription {
    font-size: 24px;
    color: #3F3F41;
}

#foodTags {
    margin-top: 10px;
}

.food-tag {
    display: inline-block;
    background-color: #FCBB62;
    padding: 4px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 5px;
}

.food-price {
    font-size: 40px;
    font-weight: bold;
    color: #ED7D31;
}

#imageContainer1 {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    min-width: fit-content;
}

.food-item {
    overflow-x: auto;
}

.text-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container {
    width: 360px;
    background: #fff6e5;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.menu-container h3 {
    font-family: 'MTD Valky Bold', sans-serif;
}

.menu-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.menu-item {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.menu-item.active {
    background: #ffc878;
}

.menu-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-info {
    margin-left: 15px;
    text-align: left;
}

.menu-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.menu-info p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.menu-list::-webkit-scrollbar {
    width: 8px;
}

.menu-list::-webkit-scrollbar-thumb {
    background: #ffc878;
    border-radius: 10px;
}

.menu-list::-webkit-scrollbar-track {
    background: #fff6e5;
}